@page "/resize"
@inherits ResizePageModel
@rendermode InteractiveAuto

<Position BackgroundColor="Transparent">
    <ItemTemplate>
        <Wrapper MaxWidth="1100">
            <ItemTemplate>
                @if (!IsBusy && file != null)
                {
                    <div class="contentWrapper">
                        <ContainerWithOverlay SrcIconOverlay="icon/delete.svg" OverlayEvent=@DeleteImage
                                        TitleOverlay="Delete">
                            <Content>
                                <div style="width: 100%; height: 100%; display: flex; justify-content:center; align-items: center;">
                                    <img src=@Result.image
                                         style="width: 100%;height: 100%;position: relative;object-fit: contain;" />
                                </div>
                            </Content>
                        </ContainerWithOverlay>

                        <Card1 Title="Rotate Image"
                               TitleButton="Download"
                               Error=@Error
                               IconCloseSrc="icon/close.svg"
                               BackgroundColorButton="var(--primary-color)"
                               TextColorButton="#fff"
                               DownloadEventCallBack=@OnDownload
                               CloseEventCallBack=@DeleteImage>
                            <ItemTemplate>
                                <div style="display:flex; width: 100%; flex-wrap: wrap;  align-items:center; gap:10px;">
                                    <div style="display:flex; width: 100%; gap:10px;">
                                        <CheckBoxInput Label="Default ?" @bind-Value=@IsDefault />
                                        <CheckBoxInput Label="Proportionnel ?" @bind-Value=@IsProportional />
                                    </div>
                                    <div style="width: 100%;">
                                        <Label Text="Width" />
                                        <div style="display:flex; width: 100%; align-items: end; gap: 10px;">
                                            <NumberInput @bind-Value=@Width UpdateOnInput Max="4000"/>
                                            <Label Text="px" />
                                        </div>
                                    </div>
                                    <div style="width: 100%;">
                                        <Label Text="Height" />
                                        <div style="display:flex; width: 100%; align-items: end; gap: 10px;">
                                            <NumberInput @bind-Value=@Height UpdateOnInput Max="4000" />
                                            <Label Text="px" />
                                        </div>
                                    </div>
                                    <div>
                                        <Label Text=@($"{WidthDefault} x {HeightDefault} -> {Width} x {Height}")  TextColor="var(--text-color)"/>
                                    </div>
                                </div>
                            </ItemTemplate>
                        </Card1>
                    </div>
                }
                else
                {
                    <FileInput TextColor="var(--text-color)" ValueChanged=@HandleImageUpload/>
                    if (IsBusy)
                    {
                        <div style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
                            <Spiner Color="var(--primary-color)" />
                            <Label Text="Loading ..." />
                        </div>
                    }
                    <p style="color : red">@Error</p>
                }
            </ItemTemplate>
        </Wrapper>
    </ItemTemplate>
</Position>