<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Image Transform</title>
    <link rel="stylesheet" href="css/app.css?version=0.1" />
    <link rel="stylesheet" href="css/home.css?version=0.1" />
    <link href="css/style.css?version=0.1" rel="stylesheet" />
    <link href="css/imagecontainer.css?version=0.1" rel="stylesheet" />
    <link rel="icon" type="image/svg" href="icon/icon.svg?version=0.1" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7606740041635365"
            crossorigin="anonymous"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/scripts.js?version=0.1"></script>
    <script src="js/imagescript.js?version=0.1"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7606740041635365"
            crossorigin="anonymous"></script>
</body>

</html>
